* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

body {
    margin: 20px;
}

.logo-image {
    float: left;
}

.logo-image img {
    width: 10vw;
}


.heading {
    position: relative;
    float: left;
    margin-left: 1.4vw;
    margin-top: 1.8vw;
    font-size: 2.5vw;
    color: #212121;
}



.breaking-news-menu-flex-box {
    clear: left;
    border-top: 3px solid #d1d1d1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 50px;
    text-transform: uppercase;
    color: #616161;

}

.breaking-news-img1 img {
    width: 100%;
    height: 70vh;

}

.breaking-news-image-content {
    color: #ababab;
    padding: 2vw;
}

.breaking-news-image-content h1 {
    padding-bottom: 2vw;
}

.top-news-container {
    color: #666666;
}

.news-lines {

    /*border-top: 2px solid silver;*/
    border-bottom: 2px solid silver;
    padding: 20px;
}


.news-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid silver;
    margin-bottom: 10px;
    padding: 10px;
}

.top-news-table-grid {
    display: grid;
    justify-content: space-between;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    grid-gap: 0.7vw;
    padding-top: 40px;
    grid-row-gap: 40px;
    width: 90%;
    padding-bottom: 20px;
    margin-left: 20px;
}

span {
    padding-right: 30px;
}

.top-news-table-heading td {
    color: #ababab;
}

.weather-header {
    display: flex;
}

.weather-days,
.weather-temp,
.weather-images {
    display: flex;
    justify-content: space-around;
}

.title {
    margin-top: 50px;
    margin-bottom: 2px;
    font-size: 1.8em;
}

.weather .sub-title {

    margin-top: 2px;
}

.weather-header p {
    font-size: 3em;
}

.weather-images img {
    width: 15vw;
}

.weather-days,
.weather-temp,
.weather-header {
    color: #424242;
}

.latest-news h4 {
    float: left;
    padding-top: 20px;
}

.latest-news p {
    padding-top: 20px;
    float: right;
}



.news img {
    float: left;
    width: 130px;
    height: 90px;
    margin-right: 20px;
    margin-bottom: 15px;
}

.news h3 {
    color: #666666;
    padding: 8px;
}

.news p {
    color: #424242;
}

.news {
    clear: left;

}

footer {
    clear: left;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid grey;
    border-bottom: 2px solid grey;
    margin-top: 10px;

}

@media screen and (max-width: 768px) and (min-width: 634px) {


    .break {
        padding-right: 20px;
    }

    .breaking-news {
        position: relative;
        width: 60%;

    }

    .breaking-news img {
        height: auto;
    }

    .breaking-news-image-content {
        position: absolute;
        bottom: 8px;
        font-size: 0.8em;
        color: white;
        background-color: black;
        opacity: 0.5;

    }

    .breaking-news-image-content p {
        padding-bottom: 5px;
    }


    .break {
        position: relative;
    }

    .weather {
        position: absolute;
        top: 0;
        right: 0;
        width: 40%;


    }

    .weather-header {
        display: flex;

    }

    .weather-days,
    .weather-temp,
    .weather-images {
        display: flex;
    }

    .title {
        margin-top: 0px;
        margin-bottom: 2px;
        font-size: 1.8em;
    }

    .weather .sub-title {

        margin-top: 2px;
    }

    .weather-header p {
        font-size: 3em;
    }

    .weather-images img {
        width: 6.5vw;
    }



}
@media screen and (max-width: 600px) {
    .breaking-news-menu-flex-box {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding:10px;
    }

    .breaking-news-menu-flex-box div {
        text-align: center;
        padding-top: 0px;
        padding-bottom: 20px;
    }

    .breaking-news-menu {
        width: 100%;
    }


    .breaking-news {
        position: relative;
        width: 100%;
    }

    .breaking-news-image-content {
        padding: 0;
        width: 100%;
        position: absolute;
        bottom: 8px;
        /* left: 0px;*/
        font-size: 12px;
        color: white;
        background-color: black;
        opacity: 0.5;
        object-fit: cover;

    }

    .breaking-news-image-content p {
        padding-bottom: 5px;
    }

    footer {
        clear: left;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: center;
        border-top: 1px solid grey;
        border-bottom: 2px solid grey;
        margin: auto;

    }

}